# Default ignored files
/../../情感分析./.idea/shelf/
/../../情感分析./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../情感分析./.idea/httpRequests/
# Datasource local storage ignored files
/../../情感分析./.idea/dataSources/
/../../情感分析./.idea/dataSources.local.xml
